.card {
  background-color: rgba(#fff, 0.1);
  transition: all 0.3s;
  padding: 7px;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: white;
    
    .card-body > .choice-select {
      opacity: 1;
    }
  }

  .card-body {
    .choice-image {
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    .choice-title {
      padding-top: 1rem;
    }

    .choice-select {
      transition: opacity 0.3s;
      position: absolute;
      height: 3rem;
      background: white;
      border-radius: 99px;
      right: 1rem;
      top: 1rem;
      box-shadow: 0 0 5px #aaa;
    }
  }
}