.summary {
  top: 20%;
  position: fixed;
  left: 0%;
  width: 100%;
  button {
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .summary-section {
    .heading {
      color: #ffffff;
      font-size: 1.75em;
      line-height: 1.5;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
    p {
      margin: 0 0 2em 0;
    }
    ul.actions {
      cursor: default;
      list-style: none;
      padding-left: 0;
      margin: 0 0 2em 0;
      li {
        display: inline-block;
        padding: 0 1em 0 0;
        vertical-align: middle;
        a {
          &.button {
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            appearance: none;
            -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            border-radius: 3.92857em;
            border: 0;
            cursor: pointer !important;
            display: inline-block;
            font-weight: 600;
            height: 3.92857em;
            line-height: 3.92857em;
            padding: 0 3em;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-size: 0.7em;
          }
          
          &.special {
            box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.1);
            background-color: #79d1b8;
            color: #ffffff !important;
          }
        }
      }
    }
    width: 40%;
    margin: 0 auto;
    background-color: #69c7ad;
    color: rgba(255, 255, 255, 0.75);
    padding: 4.5em 5em 2.5em 5em;
  }
}