<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-8 col-xs-10">
      <!--To be used for Embeding-->
      <carousel [interval]="-1" [(activeSlide)]="activeSlideIndex" *ngIf="!showSummary">
        <slide *ngFor="let question of questions; let i = index">
          <bq-question
            *ngIf="activeSlideIndex == i"
            [question]="question"
            (selectedChoice)="onSelected(i, $event)"
            [selected]="selections[i]"></bq-question>
          <ul class="list-inline">
            <li *ngFor="let question of questions; let i = index" (click)="changeActiveSlide(i)" [ngClass]="{'active': activeSlideIndex == i,'selected': selections[i] != null}">
              {{i}}
            </li>
          </ul>
        </slide>
      </carousel>

      <bq-summary *ngIf="showSummary" [summary]="getSummary()" (resetQuiz)="resetQuiz()"></bq-summary>
    </div>
  </div>
</div>