.option {
  float: right;
  margin-right: 10px;
}
.container-fluid {
  width: 80vw;
  top: 4vh;
  carousel {
    width: 100%;
    height: 100%;

    .list-inline {
      margin-top: 2rem;
      justify-content: center;
      display: flex;
      li {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 40px;
        text-align: center;
        font-size: 1.2rem;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        transition: all 0.3s;
        &.selected {
          background: lightgreen;
        }
        .choice-selected {
          height: 70%;
          object-fit: cover;
        }
      }
    }
  }

  .question-count {
    float: left;
  }
}

.carousel-indicators {
  display: block;
}