<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-8 col-xs-10">
      <!--To be used for Embeding-->
      <carousel [interval]="-1" *ngIf="!showSummary">
        <slide *ngFor="let question of questions; let i = index">
          <bq-question [question]="question" (selectedChoice)="onSelected(i, $event)"></bq-question>
        </slide>
      </carousel>

      <div class="summary text-center" *ngIf="showSummary">
        <button class="btn btn-warning" (click)="reset()"> Take Quiz Again</button>
        <br>
        {{getSummary()}}
      </div>
    </div>
  </div>
</div>