.question-body {
  h5.title {
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0 0 0.65em 0;
    font-weight: 500;
    font-size: 1.75em;
  }
  .choices {
    padding-top: 10px;
  }
}